<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Jon Roobottom’s personal website">
    <meta name="robots" content="index, follow">
    <title>{{ title }} - Jon Roobottom’s website</title>

    <!-- Identity/endpoints -->
    <link rel="me" href="https://github.com/roobottom">
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="micropub" href="https://roobottom-indiekit.herokuapp.com/micropub">

    <!-- Open Graph / Facebook -->
		<meta property="og:type" content="{{ openGraph.type }}">
    <meta property="og:image" content="{{ openGraph.image }}">
		<meta property="og:url" content="https://roobottom.com/">
		<meta property="og:site_name" content="Jon’s website">
		<meta property="og:locale" content="en_GB">
		<meta property="og:title" content="{{ title }}">
		<meta property="og:description" content="{{ openGraph.description }}">
		<meta property="og:image:width" content="1280">
		<meta property="og:image:height" content="640">
		<meta property="og:image:alt" content="{{ openGraph.imageAlt }}">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:site" content="@roobottom">
		<meta property="twitter:url" content="https://roobottom.com">
		<meta property="twitter:title" content="{{ title }}">
		<meta property="twitter:description" content="{{ openGraph.description }}">
		<meta property="twitter:image" content="{{ openGraph.image }}">
		<meta property="twitter:image:alt" content="{{ openGraph.imageAlt }}">

    <link href="/styles.css" rel="stylesheet"/>

</head>
<body class="">

  <header>
    {% block header %}
    {% endblock %}
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    {% block footer %}
    {% endblock %}
    <h2><code>page</code> Data:</h2>
    <pre>{{ page | dump(2) }}</pre>

    <h2><code>eleventy</code> Data:</h2>
    <pre>{{ eleventy | dump(2) }}</pre>

    <h2><code>openGraph</code> Data:</h2>
    <pre>{{ openGraph | dump(2) }}</pre>
  </footer>
  {% block scripts %}
  {% endblock %}
</body>
</html>