<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Jon Roobottom’s personal website">
    <meta name="robots" content="index, follow">
    <title>{{ title | safe }} - Jon Roobottom’s website</title>

    <!-- Identity/endpoints -->
    <link rel="me" href="https://github.com/roobottom">
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="micropub" href="https://roobottom-indiekit.herokuapp.com/micropub">

    <!-- Open Graph / Facebook -->
		<meta property="og:type" content="{{ openGraph.type }}">
    <meta property="og:image" content="{{ openGraph.image }}">
		<meta property="og:url" content="https://roobottom.com/">
		<meta property="og:site_name" content="Jon’s website">
		<meta property="og:locale" content="en_GB">
		<meta property="og:title" content="{{ title | safe }}">
		<meta property="og:description" content="{{ openGraph.description }}">
		<meta property="og:image:width" content="1280">
		<meta property="og:image:height" content="640">
		<meta property="og:image:alt" content="{{ openGraph.imageAlt }}">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:creator" content="@roobottom">
		<meta property="twitter:url" content="https://roobottom.com">
		<meta property="twitter:title" content="{{ title | safe }}">
		<meta property="twitter:description" content="{{ openGraph.description }}">
		<meta property="twitter:image" content="{{ openGraph.image }}">
		<meta property="twitter:image:alt" content="{{ openGraph.imageAlt }}">

    <link href="/styles.css" rel="stylesheet"/>

</head>
<body class="{{ page.navigationId }}">

  <header>
    {% block header %}
      {% block title %}{% endblock %}
    {% endblock %}
  </header>
  <main>
    {% block content %}
    {% endblock %}
    {% block pageNavigation %}
    {% endblock %}
  </main>
  <footer>
    {% block footer %}
    {% endblock %}

    {% if global.env == 'dev' %}
    <h2><code>PENIS</code> Data:</h2>
    <pre>{{ page | dump(2) }}</pre>

    <h2>Frontmatter:</h2>
    <pre>{{ title }}</pre>

    <h2><code>eleventy</code> Data:</h2>
    <pre>{{ eleventy | dump(2) }}</pre>

    <h2><code>openGraph</code> Data:</h2>
    <pre>{{ openGraph | dump(2) }}</pre>

    <h2>Installed packages:</h2>
    <pre>{{ pkg.dependencies | dump(2) }}</pre>
    {% endif %}

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1170 10" preserveAspectRatio="none" height="10px" width="100%">
      <path d="M0 0h117v10H0z" class="segment-1"/>
      <path d="M117 0h117v10H117z" class="segment-2"/>
      <path d="M234 0h117v10H234z" class="segment-3"/>
      <path d="M351 0h117v10H351z" class="segment-4"/>
      <path d="M468 0h117v10H468z" class="segment-5"/>
      <path d="M585 0h117v10H585z" class="segment-6"/>
      <path d="M702 0h117v10H702z" class="segment-7"/>
      <path d="M819 0h117v10H819z" class="segment-8"/>
      <path d="M936 0h117v10H936z" class="segment-9"/>
      <path d="M1053 0h117v10H1053z" class="segment-10"/>
    </svg>
  </footer>
  {% block scripts %}
  {% endblock %}
</body>
</html>