{% extends "./base.njk" %}

{% block header %}
  <nav class="banner">
    <ul>
      {% for item in globalNavigation %}
        <li class="{{ item.id }}" class="banner__navigation-item"><a class="banner__navigation-link" href="{{ item.href }}"{% if page.navigationId == item.id %} aria-current="page"{% endif %}>{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  {% if not hideTitle %}
  <div class="title">
  {% block title %}
    <h1>{{ title | safe }}</h1>
    {% if not hideDate %}
    <time datetime="{{ date | date('') }}">{{ date | date('D MMMM YYYY', true) }}</time>
    {% endif %}
  {% endblock %}
  </div>
  {% endif %}
{% endblock %}

{% macro renderPhotos(photos) %}
{% for p in photos -%}
  {% figure p.url, p.alt | smartypants, 'default', p.url | removeExtension %}
{%- endfor %}
{% endmacro %}

{% block content %}
  <div class="prose">
    {{ content | hangingPunctuation | safe }}
    {% if photo %}
      {% if photo | length > 1 %}
        <div class="gallery">
        {{ renderPhotos(photo) }}
        </div>
      {% else %}
        {{ renderPhotos(photo) }}
      {% endif %}
    {% endif %}
    {% if inPostDate %}
      <time datetime="{{ date | date('') }}" class="in-post-date">{{ date | date('D MMMM YYYY', true) }}</time>
    {% endif %}
    <hr>
  </div>
  
{% endblock %}

{% if page.collectionId == 'diary' or page.collectionId == 'articles' or page.collectionId == 'notes' %}
  {% set count = 0 %}
  {% set prevPost = null %}
  {% set nextPost = null %}
  {%- for post in collections[page.collectionId] -%}
    {% if post.url == page.url %}
      {% set prevPost = collections[page.collectionId][count + 1] %}
      {% set nextPost = collections[page.collectionId][count - 1] %}
    {% endif %}
    {% set count = count + 1 %}
  {%- endfor -%}

{% block pageNavigation %}
  {% if tags %}
  <nav aria-labelledby="tagTitle" class="tags">
    <h3 id="tagTitle">Tags</h3>
    <ul>
      {% for tag in tags %}
        <li><a href="/tags/{{ tag | slug }}" rel="tag">{{ tag | title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
  <nav aria-label="pagination" class="pagination">
    <ul>
      {% if prevPost %}<li class="prev">
        <h3>Previous {{ page.collectionTitle | lower }}</h3>
        <a href="{{ prevPost.url }}" rel="prev">{{ prevPost.data.title | safe }}</a>
        <time datetime="{{ prevPost.date | date('') }}">{{ prevPost.date | date('D MMMM YYYY', true) }}</time>
      </li>{% endif %}
      {% if nextPost %}<li class="next">
        <h3>Next {{ page.collectionTitle | lower }}</h3>
        <a href="{{ nextPost.url }}" rel="next">{{ nextPost.data.title | safe }}</a>
        <time datetime="{{ nextPost.date | date('') }}">{{ nextPost.date | date('D MMMM YYYY', true) }}</time>
      </li>{% endif %}
    </ul>
  </nav>
{% endblock %}
{% endif %}

{% block footer %}
  <p class="copyright">&copy; {{ collections.stats.allPosts.earliest | date('YYYY') }} — {{ collections.stats.allPosts.latest | date('YYYY') }}</p>
  <nav>
    <ul>
      {% for link in footerNavigation %}
      <li><a href="{{ link.href }}">{{ link.title }}</a></li>
      {% endfor %}
      <li><a href="{{ page.github }}">Edit this page</a></li>
    </ul>
  </nav>
{% endblock %}