---js
{
  title: "Articles",
  permalink: "/articles/",
  eleventyExcludeFromCollections: true,
  page: {
    navigationId: 'articles'
  }
}
---
{% from "../../lib/components/postsByYear.njk" import postsByYear as postsByYear %}
{% extends "../layouts/page.njk" %}
{% block title %}
  <h1>{{ title }}</h1>
{% endblock %}
{% block content %}
  <div class="container container--prose">
    {{ postsByYear(collections.years.articles, collections.articles) }}
  </div>
{% endblock %}