---
eleventyExcludeFromCollections: true
permalink: "/{{ image.relativeDir }}/{{ image.name }}/"
eleventyComputed:
  title: "{{ image.base }}"
  openGraph:
    type: "image"
    description: "{{ image.name }}"
    image: "{{ openGraph.imageUrlStub }}/{{ image.relative }}"
pagination:
  data: images
  alias: image
  size: 1
---
{% extends "../layouts/page.njk" %}

{% block title %}{% endblock %}

{% block content %}

<div class="container">
{% img image.relative, {
  alt: 'preview for '+ image.name,
  class: 'standalone'
}, 'superwide' %}
</div>

{% endblock %}