---
title: Homepage
permalink: "/index.html"
eleventyExcludeFromCollections: true
---
{% extends '../layouts/base.njk' %}

{% block content %}
  <h1>{{ title }}ww</h1>
  {% for article in collections.archives['2007'] %}
    <p>{{ article.data.title }}, {{ article.date | date }}</p>
  {% endfor %}
{% endblock %}