---js
{
  title: "Notes",
  permalink: "/notes/",
  eleventyExcludeFromCollections: true,
  page: {
    navigationId: 'notes'
  }
}
---
{% extends "../layouts/page.njk" %}
{% block title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
  <div class="container">
    {% for post in collections.notes | subset(50) %}
    <div class="prose note">
      <div class="note-meta">
        <time class="hint" datetime="{{ post.date | date('') }}">{{ post.date | date('dddd, D MMMM YYYY', true) }}</time>
        {% if post.data.syndicated %}<a href="{{ post.data.syndicated }}" class="hint">Also on Twitter</a>{% endif %}
      </div>
      {{ post.templateContent | safe }}
      {% if post.data.links %}
      {% for l in post.data.links %}
      <p><a href="{{ l }}">{{ l }}</a></p>
      {% endfor %}
      {% endif %}
      {% if post.data.photo %}
      {% if post.data.photo | length > 1 %}<div class="gallery">{% endif %}
      {% for p in post.data.photo %}
        {% figure p.url, p.alt, 'default', p.url | removeExtension %}
      {% endfor %}
      {% if post.data.photo | length > 1 %}</div>{% endif %}
      {% endif %}
      <hr>
    </div>
    {% endfor %}
  </div>
{% endblock %}