---
eleventyExcludeFromCollections: true
eleventyComputed: 
  title: "Day {{ day }}"
permalink: "archives/day/{{ day }}/"
pagination: 
  data: "collections.daysOfYear"
  size: 1
  alias: "day"
---
{% from "../../../lib/components/posts.njk" import renderAPost as renderAPost %}
{% extends "../../layouts/page.njk" %}

{% block title %}
  <h1>{{ collections.daysOfYear[day].day }} {{ collections.daysOfYear[day].month }}</h1>
{% endblock %}

{% block content %}
  <div class="container container--prose">
    <dl class="summary-list">
    {% for post in collections.daysOfYear[day].posts %}
      {{ renderAPost(post, [post.data.page.collectionTitle]) }}
    {% endfor %}
    </dl>
  </div>
{% endblock %}