---
eleventyExcludeFromCollections: true
title: "Archives"
permalink: "archives/"
---
{% extends "../../layouts/base.njk" %}

{% block content %}
  <h1>{{ title }}</h1>

  {% for year in collections.archives.list | reverse %}
    <p><a href="/archives/{{ year }}">{{ year }}</p>
  {% endfor %}
{% endblock %}