---
eleventyExcludeFromCollections: true
title: "Archives"
permalink: "/archives/"
---
{% extends "../../layouts/page.njk" %}

{% block content %}
  <h1>{{ title }}</h1>

  <h2>Explore content by year</h2>
  <ol>
  {% for year in collections.years.allPosts %}
    <li><a href="/archives/{{ year }}">{{ year }}</a></li>
  {% endfor %}
  </ol>

  <h2>Explore content by tag</h2>
  <ul>
  {% for tag in collections.tags %}
    <li><a href="/tags/{{ tag.title | slug }}">{{ tag.title | title }}</a> - {{ tag.count }} {{ 'item' | plural(tag.count) }}</li>
  {% endfor %}
  </ul>
{% endblock %}