---
eleventyExcludeFromCollections: true
eleventyComputed:
  title: "Archive for {{ tag.title }}"
permalink: "tags/{{ tag.title | slug }}/"
pagination:
  data: collections.tags
  size: 1
  alias: tag
---
{% from "../../../lib/components/posts.njk" import renderAPost as renderAPost %}
{% extends "../../layouts/page.njk" %}

{% block title %}
  <h1>{{ tag.title | title }}</h1>
{% endblock %}

{% block content %}
  <div class="container container--prose">
  <dl class="summary-list">
  {% for article in collections[tag.title] | reverse %}
    {{ renderAPost (article, [article.data.page.collectionTitle]) }}
  {% endfor %}
  </dl>
  </div>
{% endblock %}