---
eleventyExcludeFromCollections: true
eleventyComputed:
  title: "Archive for {{ tag.title }}"
permalink: "tags/{{ tag.title | slug }}/"
pagination:
  data: collections.tags
  size: 1
  alias: tag
---
{% extends "../../layouts/page.njk" %}

{% block content %}
  <h1>{{ tag.title | title }}</h1>
  {% if tagsMeta[tag.title] %}{{ tagsMeta[tag.title] }}{% endif %}
  <ul>
  {% for article in collections[tag.title] | reverse %}
    <li><a href="{{ article.url }}">{{ article.data.title }}, {{ article.date | date }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}