---
eleventyExcludeFromCollections: true
eleventyComputed:
  title: "Archive for {{ year }}"
permalink: "archives/{{ year }}/"
pagination:
  data: collections.years
  size: 1
  alias: year
---
{% extends "../../layouts/page.njk" %}

{% block content %}
  <ul>
  {% for article in collections.content %}
    {% if article.date | date('YYYY') == year %}
    <li>{{ article.data.type.title }}: <a href="{{ article.url }}">{{ article.data.title }}, {{ article.date | date }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
{% endblock %}