@font-face{
  font-family: 'debut'; 
  src: url('@{assets}DebutSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'debut'; 
  src: url('@{assets}DebutSans-RegularItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face{
  font-family: 'debut'; 
  src: url('@{assets}DebutSans-Black.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: 'debut'; 
  src: url('@{assets}DebutSans-BlackItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'bely';
  src: url('@{assets}BelyDisplay-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

#type {
  .family() {
      .sans() {
          font-family: 'debut', sans-serif;
      }
      .serif() {
          font-family: 'bely', serif;
      }
  }
  .make-typescale-up(@counter: 0) when (@counter <= @typescale-up-steps) {
      @min: round(pow(@type-min-scale, @counter) * @type-min-size, 2);
      @max: round(pow(@type-max-scale, @counter) * @type-max-size, 2);
      :root {
          --step-@{counter}: calc((unit((@min/@base), rem)) + (@max - @min) *var(--fluid-bp));
      }
      #type > .make-typescale-up(@counter + 1); 
  }
  .make-typescale-down(@counter: 1) when (@counter <= @typescale-down-steps) {
      @min: round((@type-min-size / pow(@type-min-scale, @counter)), 2);
      @max: round((@type-max-size / pow(@type-max-scale, @counter)), 2);
      :root {
          --step--@{counter}: calc((unit((@min/@base), rem)) + (@max - @min) *var(--fluid-bp));
      }
      #type > .make-typescale-down(@counter + 1);  
  }

  //translate between any steps within the system:
  .steps(@minstep, @maxstep) {
      @min: round(pow(@type-min-scale, @minstep) * @type-min-size, 2);
      @max: round(pow(@type-max-scale, @maxstep) * @type-max-size, 2);
      font-size: calc((unit((@min/@base), rem)) + (@max - @min) *var(--fluid-bp));
  }

  //is this useful? It doesn't respect any scale:
  .sizes(@min, @max) {
      font-size: calc((unit((@min/@base), rem)) + (@max - @min) *var(--fluid-bp));
  }
}

#type > .make-typescale-up;
#type > .make-typescale-down;

body{
  #type.family.sans;
  font-variant-ligatures: common-ligatures;
  font-size: var(--step-0);
  line-height: var(--line-height);
}