{% macro renderAPost (post, metaObject) %}
  <div class="summary-list-row">
    <dt class="summary-list-title"><a href="{{ post.url }}">{{ post.data.title }}</a></dt>
    <dd class="summary-list-meta">
      <time class="quiet" datetime="{{ post.date | date('') }}">{{ post.date | date }}</time>
      {% if metaObject %}
      {% for meta in metaObject %}
      <span class="summary-list-metaitem">{{ meta }}</span>
      {% endfor %}
      {% endif %}
    <dd>
  </div>
{% endmacro %}

{% macro postsByYear (years, posts) %}
  {%- for year in years -%}
    <h2 class="summary-list-heading">{{ year }}</h2>
    <dl class="summary-list">
      {% for post in posts %}
      {% if post.date | date('YYYY') == year %}{{ renderAPost (post) }}{% endif %}
      {% endfor %}
    </dl>
  {%- endfor -%}
{% endmacro %}