---
permalink: /_redirects
eleventyExcludeFromCollections: true
---
{% for article in collections.articles %}/articles/{{ article.fileSlug }}/ /articles/{{ article.date | slug_date }}-{{ article.data.title | slugify | safe }}/
{% endfor %}
/tags/index.html /archives/index.html